.contact{
    height:35rem;

}
.heading{
    height:100px;
}
.chat{
    padding-bottom: 80px;
}
.whatsapp{
    background-image: linear-gradient(#AF40FF, #5B42F3,#00DDEB);
    padding:8px 14px;
    border-radius:4%;
    cursor: pointer;
    font-size:20px;
}

.whatsapp:hover{
    background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
}

.chat{
    position: sticky;
    top: 0px;
}
.send a {
    border-radius: 3px;
    color: black;
    background-color: #fff;
    border: solid white 8px;

}
.form{
    display: block;
    align-items: center;
    margin: auto;
    width:400px;
    height:300px;
}
input{

    width:320px;
    margin: 12px;
    padding: 10px 10px 10px 40px;
    display: block;
    border:1px solid rgb(53, 48, 48);
    background-color: black;
    font-size: 16px;

}

.icons1{
    padding:14px 25px;
    position:absolute;

}
.icons2{
    padding:14px 25px;
    position:absolute;

}
.icons3{
    padding:14px 25px;
    position:absolute;

}

.send a:hover {
    color: white;
    background-color: blue;
    border: solid blue 8px;
}

.send{
    padding: 12px;
}




