body{
  scroll-behavior: smooth;
  transition: all 0.5s;
  color: #fff;
  text-decoration: none;
  list-style: none;
    background-color: black;
  color: #fff;
}
a,li{
  text-decoration: none;
  list-style: none;
}
