@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
body {
  margin: 0;
  font-family: 'Sono', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
